@import "../themes/apollo/sass/main.scss";

:root.light, :root.dark {
  --primary-color: #2979ff;
}

:root {
  --primary-color: #2979ff;
  --mono-stack: "SF Mono Powerline", "SF Mono", "Jetbrains Mono", ui-monospace, monospace;
  --text-font: var(--mono-stack);
  --header-font: "Space Grotesk", "Helvetica", sans-serif;
  --mono-text-font: var(--mono-stack);
  --code-font: var(--mono-stack);
}

.toc li,
.toc a {
  font-family: var(--text-font);
}

.right-nav a {
  border-bottom: 2px solid var(--primary-color);
}

body {
  flex-wrap: wrap;

  .content {
    margin: 0 auto;
  }
}

.content figure {
  display: block;
  margin: 1.5rem 0;
  text-align: center;

  figcaption {
    color: var(--text-2);
  }
}

footer {
  flex-basis: 100%;
  max-width: var(--page-width);
  margin: 100px auto 0;
  padding: 0 24px;
}

// Link post permalink symbol in post listings
.permalink-symbol {
  font-size: 0.75em;
  color: var(--text-2);
  border-bottom: none;
  margin-left: 0.25em;
  vertical-align: middle;
  text-decoration: none;

  &:hover {
    background-color: transparent;
    color: var(--primary-color);
  }
}
