{
  "env": {
    "node": true
  },
  "parser": "@babel/eslint-parser",
  "rules": {
    "strict": 0
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
