{% macro list_post(page) %}
    <li class="list-item">
        <section>
            <div class="post-header">
                <time>{{ page.date | date(format="%Y-%m-%d") }}</time>

                <div>
                    <h1 class="title">
                        {% if page.extra.external_url %}
                            <a href="{{ page.extra.external_url | safe }}" target="_blank" rel="noopener noreferrer">{{ page.title }}<svg class="external-link-icon" xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M21 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h6"/><path d="m21 3-9 9"/><path d="M15 3h6v6"/></svg></a><a class="permalink-symbol" href="{{ page.permalink | safe }}" title="Permalink to this post"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M12 6v16"/><path d="m19 13 2-1a9 9 0 0 1-18 0l2 1"/><path d="M9 11h6"/><circle cx="12" cy="4" r="2"/></svg></a>
                        {% else %}
                            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
                        {% endif %}

                        {% if page.draft %}
                            <span class="draft-label">DRAFT</span>
                        {% endif %}
                    </h1>

                    <div class="meta">
                        <div class="description">
                            {% if page.description %}
                                {{ page.description }}
                            {% elif page.summary %}
                                {{ page.summary | safe }}&hellip;
                            {% else %}
                                {% set hide_read_more = true %}
                            {% endif %}
                        </div>

                        {% if not hide_read_more %}
                            <a class="readmore" href="{{ page.permalink | safe }}">Read more ⟶</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </li>
{% endmacro list_post %}

{% macro list_posts(pages) %}
    <ul>
        {%- for page in pages %}
            {{ post_macros::list_post(page=page) }}
        {% endfor -%}
    </ul>
{% endmacro list_posts %}

{% macro page_header(title, subtitle="") %}
    {% if title %}
        {% if subtitle %}
            <hgroup>
                <h1 class="page-header">{{ title }}</h1>
                <p class="page-subtitle">{{ subtitle }}</p>
            </hgroup>
        {% else %}
            <h1 class="page-header">
                {{ title }}
            </h1>
        {% endif %}
    {% endif %}
{% endmacro page_header %}

{% macro site_title() %}
    {{ config.title | default(value="Home") }}
{% endmacro %}
