{% macro list_post(page) %}
    <li class="list-item">
        <section>
            <div class="post-header">
                <time>{{ page.date | date(format="%Y-%m-%d") }}</time>

                <div>
                    <h1 class="title">
                        {% if page.extra.external_url %}
                            <a href="{{ page.extra.external_url | safe }}" target="_blank" rel="noopener noreferrer">{{ page.title }}</a>
                        {% else %}
                            <a href={{ page.permalink | safe }}>{{ page.title }}</a>
                        {% endif %}

                        {% if page.draft %}
                            <span class="draft-label">DRAFT</span>
                        {% endif %}
                    </h1>

                    {% if page.extra.external_url %}
                        <a class="permalink-symbol" href="{{ page.permalink | safe }}" title="Permalink to this post">∞</a>
                    {% endif %}

                    <div class="meta">
                        <div class="description">
                            {% if page.description %}
                                {{ page.description }}
                            {% elif page.summary %}
                                {{ page.summary | safe }}&hellip;
                            {% else %}
                                {% set hide_read_more = true %}
                            {% endif %}
                        </div>

                        {% if not hide_read_more %}
                            <a class="readmore" href={{ page.permalink | safe }}>Read more ⟶</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
    </li>
{% endmacro list_post %}

{% macro list_posts(pages) %}
    <ul>
        {%- for page in pages %}
            {{ post_macros::list_post(page=page) }}
        {% endfor -%}
    </ul>
{% endmacro list_posts %}

{% macro page_header(title) %}
    {% if title %}
        <div class="page-header">
            {{ title }}
        </div>
    {% endif %}
{% endmacro page_header %}

{% macro site_title() %}
    {{ config.title | default(value="Home") }}
{% endmacro %}
