{% extends "apollo/templates/homepage.html" %}

{% block main_content %}
  <main>
    <article>
      <section class="body">
        {{ post_macros::page_header(title=section.title) }}
        {{ section.content | safe }}
      </section>
    </article>
  </main>

  <h2><a href="/posts">Recent Posts</a></h2>

  {% block post_list %}
    <main class="post-list">
      {% set section = get_section(path="posts/_index.md") %}
      {%- set show_pages = section.pages | slice(start=0, end=10) -%}
      {{ post_macros::list_posts(pages=show_pages) }}
    </main>
  {% endblock post_list %}
{% endblock main_content %}
